*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: azure;
}

header{
  background-color: #337ab9;
  display: flex;
  justify-content: space-between;
}

.headerItem1Text{
  color: #fff;
}

.headerItem1,.headerItem2{
  display: flex;
  align-items: center;
}

.headerItem2_log1,.headerItem2_log2{
  color: #fff;
}

.headerItem2 div{
  padding: 0 20px;
}

.loginContainer{  
  width: 45%;
  height: 400px;
  margin-top: 120px;
  display: flex;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 40px;
}

.loginContainer_left{
  background-color: #337ab9;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main{
  display: flex;
  justify-content: center;
}

input {
  outline: 0;
  border: 0;
  border-bottom: 1px solid black;
  background-color: #fff;
  width: 96%;
  height: 20px;
  padding: 30px 0;
  margin: 0 20px;
}

input:focus {
 border-bottom: 1px solid blue;
}

.loginContainer_right{
  background-color: #fff;
  width: 70%;
}

.loginContainer_right-heading{
  text-align: center;
  color:#337ab9;
  font-size: 30px;
}

.loginContainer_right a{
  display: inline-block;   
  text-align: center;
  width: 60%;
  border: 1px solid blue;
  padding: 5px 20px;
  margin: 40px auto;
  border-radius: 20px;
}